
@using Blog_JCF.Models;
@using PagedList;
@using PagedList.Mvc

@model IPagedList<BlogPost>


    <header class="intro-header" style="background-image: url(/img/post-sample-image.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Caleb's Code Blog</h1>
                        <hr class="small">
                        <span class="subheading">A chronicle of a quest for knowledge</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            
            @foreach (var post in Model)
            {
                <div class="col-md-6">
                    <a href= "@Url.Action("Details", "BlogPosts", new { slug = post.Slug })">
                        <div class="text">
                            <h2>@post.Title</h2>
                            <span>@post.Created.ToString("MMMM d,yyyy")</span>
                        </div>
                    </a>
                </div>
            }
            </div>
        <hr />
        <div class="row">
            <div class="col-md-12 text-center">
            <!-- Pager -->
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
             </div>
        </div>
    </div>


